#
SHELL=/bin/bash    
PERL=/usr/bin/perl            
PATH=/usr/local/bin:/usr/bin:/bin:/usr/bin/X11:/usr/local/scripts
MAILTO="srivasta@debian.org"
VOTE=%VOTE%
WORKDIR=/org/vote.debian.org
BINDIR=/org/vote.debian.org/bin
VOTEDIR=/org/vote.debian.org/data/%VOTE%
TEMPDIR=tmp

#m   h dom monday dow command
34   4,16  * * * (rsync rsync://keyring.debian.org/keyrings/keyrings/debian-keyring.gpg $VOTEDIR/debian-keyring.gpg)
44   4,16  * * * (rsync rsync://keyring.debian.org/keyrings/keyrings/debian-keyring.pgp $VOTEDIR/debian-keyring.pgp)
52    4,16 * * * (cd $WORKDIR/; $BINDIR/dvt-quorum -c $VOTEDIR/devotee.conf) >/dev/null 2>&1
08    0-23 * * *  ($BINDIR/dvt-cron $VOTE && $BINDIR/vote.stats) >> $HOME/$TEMPDIR/out 2>&1

18,28,38,48,58 0-23 * * *  $BINDIR/vote.stats >> $HOME/$TEMPDIR/out 2>&1

